body {
    background-color: rgb(20, 20, 41);
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    color: #28c6ff;
}

h1 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
    margin-top: -0rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}


h2 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7rem;
    color: #28c6ff;
    font-size: 2.3rem;
    margin-left: 1rem;
}


h3 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7rem;
    color: aquamarine;
    font-size: 1.5rem;
}






p {
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.7rem;
    color: white;
    font-size: 1.2rem;
    margin-left: 2rem;
}

a {
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.7rem;
    color: white;
}

ul {
    list-style: none;
}

input {
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.7rem;
    background-color:rgb(20, 20, 41);
    color: aliceblue;
    font-size: 1rem;
}




/* About Section --------------------------------------------------------------------------------------- */

.about-us-title {
    display: flex;
    flex-direction: column;
    color: #28c6ff;
}

.about-us-header {
    color: #28c6ff;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.images {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.caption {
    color: rgb(204, 204, 204);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.header-area {
    background-color:#273E52;
    text-align: center;
}












/* Bottom Section --------------------------------------------------------------------------------------- */
.bottom-section {
    background-image: linear-gradient(to bottom, #0c0e17, #273E52);
    /* background-color: #0c0e17; */
    display: flex;
    justify-content: space-between;
    max-height: 17rem;
}

.bottom-left-side {
    display: flex;
    overflow: hidden;

}


.bottom-middle-side {
    display: flex;
    align-items: end;
    position: relative;
    margin-bottom: 0.5rem;
}

.bottom-right-side {
    display: flex;
    flex-direction: column;
}




.taro-footer-img {
    display: flex;
    position: relative;
    width: 60rem;
    object-fit: cover;
    
}


.footer-logo {
    display: flex;
    position: relative;
    width: 10rem;
    object-fit: cover;
    margin-top: -1.2rem;
    
}



.footer-nav {
    display: flex;
    margin-top: -2rem;
}


.bottom-nav-item {
    display: flex;
    margin-bottom: 0.7rem;
}


.bottom-nav-item:hover {
    color: #28c6ff;
}



.x-logo {
    display: flex;
    width: 4rem;
    margin-right: 2rem;
}


.insta-logo {
    display: flex;
    width: 4rem;
    margin-right: 2rem;
}



.email-icon {
    display: flex;
    width: 4rem;
}
